.monitor-section {
    width: 100%;
    max-width: 1440px;
    margin-top: 90px;
    display: flex;
    flex-direction: row;

}

.w50 {
    width: 50%;
}

.monitor img {
    margin-left: -50px;
    width: 100%;
    max-width: 600px;
    height: auto;
}

